body {
    background-color: rgb(240, 183, 193);
}

.fondo_blanco {
    /*margin: 20px;*/
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.flex {
    display: flex;
    margin-left: 20px;
}